#root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}*/



/* Card de Produtos */
.card {
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  transition: transform 0.3s ease;
  background-color: #fff;
}

.card:hover {
  transform: translateY(-10px);
}

.card-img-top {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-bottom: 1px solid #ddd;
}

.card-body {
  padding: 15px;
  background-color: #fff;
}

.card-title {
  font-size: 1.2rem;
  color: #808000; /* Usando Olive para os títulos dos cards */
  margin-bottom: 10px;
}

.card-text {
  color: #666;
  font-size: 0.9rem;
  margin-bottom: 15px;
}





/* Badge no Carrinho */
.badge {
  position: absolute;
  top: -5px;
  right: -5px;
  background-color: #e53e3e;
  color: white;
  font-size: 0.9rem;
  padding: 5px 10px;
  border-radius: 50%;
}

/* Layout do Carrinho */
.list-group {
  list-style: none;
  padding: 0;
}

.list-group-item {
  border: 1px solid #ddd;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 8px;
  background-color: #fff;
}

.list-group-item .d-flex {
  display: flex;
  justify-content: space-between;
}

.list-group-item .btn {
  background-color: #e53e3e;
  color: white;
}

.list-group-item .btn:hover {
  background-color: #c53030;
}

/* Checkout */
form .form-group {
  margin-bottom: 15px;
}

form label {
  font-weight: bold;
  display: block;
}

form input {
  width: 100%;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

form input:focus {
  border-color: #808000; /* Usando Olive para o foco no input */
}

form button {
  padding: 12px 20px;
  font-size: 1.2rem;
  border-radius: 5px;
  border: none;
  background-color: #808000; /* Usando Olive para o botão de finalizar compra */
  color: white;
  cursor: pointer;
  width: 100%;
}

form button:hover {
  background-color: #6c7000;
}

/* Estilos para o Widget do Carrinho */
.cart-widget {
  position: relative;
  display: inline-block;
}

.cart-widget span {
  position: absolute;
  top: -5px;
  right: -5px;
  background-color: #e53e3e;
  color: white;
  font-size: 0.9rem;
  padding: 5px 10px;
  border-radius: 50%;
}


