:root { margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: #dce0d9; /* Usando Platinum para o fundo da página */
  color: #2f2504; /* Usando Drab Dark Brown para o texto */
  line-height: 1.6;
  padding: 20px;
}


a {
  font-weight: 500;
  color: Olive;
  text-decoration: inherit;
}



/* Cabeçalho */
h1, h2 {
  text-align: center;
  font-size: 2rem;
  color: #2f2504; /* Usando Drab Dark Brown para o título */


  .btn {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
 .btn-primary {
    background-color: #808000; /* Usando Olive para os botões primários */
    color: #fff;
  }*/
  
  .btn-primary:hover {
    background-color: #6c7000; /* Tons mais escuros de Olive para o hover */
  }
  
  .btn-danger {
    background-color: #e53e3e;
    color: white;
  }
  
  .btn-danger:hover {
    background-color: #c53030;
  }
  
  .btn-secondary {
    background-color: #f5f5f5;
    color: #333;
  }
  
  .btn-secondary:hover {
    background-color: #ddd;
  }
  
  .btn-success {
    background-color: #48bb78;
    color: white;
  }
  
  .btn-success:hover {
    background-color: #38a169;
  }
  
/*@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}*/
}