.custom-navbar {
    background-color: #2f2504; /* Usando Drab Dark Brown para o fundo da navbar */
    color: #fff;
    padding: 10px 0;
  }
  
 .navbar-brand {
    color: #fff;
    font-size: 1.8rem;
  }
  
  .navbar .nav-link {
    color: #fff;
    margin-right: 15px;
  }
  
  .navbar .nav-link:hover {
    color: #dce0d9; /* Usando Platinum para o hover das nav links */
  }

  img{
    width: 65px;
    height: 65px;
    margin-right: 5px;
  }